h1 {
  font-weight: bold;
  color: black;
}

h2 {
  font-style: italic;
  color: yellowgreen;
}

h3 {
  font-style: italic;
  color: yellowgreen;
}

p {
  color: black;
}

body {
  background-color: #ffffff;
  font-family: serif;
  text-align: center;
}